<h2>Search select with a long slow list</h2>

<p>This example uses a long list of potential values, intentionally populated
slowly. There is no real server here, but the code simulates a slow (high
latency) server with a random delay.</p>

<form>
  <div>Value: {{{ value: ours.value } | json }}
    Touched: {{ ours.touched | json }}
    Errors: {{ ours.errors | json }}</div>

  <div>
    <input #manual type="text" placeholder="Change Our Value">
    <button (click)="ours.setValue(manual.value)">Set</button>
  </div>

  <!--
    Ideally we could experiment with the value using bound form controls,
    but the following Angular bug makes this not work.

    https://github.com/angular/angular/issues/13792

  <mat-form-field>
    <input matInput [formControl]="ours" type="text" placeholder="Value1">
  </mat-form-field>

  <mat-form-field>
    <input matInput [formControl]="ours" type="text" placeholder="Value2">
  </mat-form-field>
  -->

  <div class="set-apart">
    <button (click)="swapSources()">Swap short and long data sources</button> (see code)
  </div>

  <div class="set-apart">
    <search-select
      placeholder="Company"
      debounceTime="500"
      width="95%"
      [formControl]="ours"
      [dataSource]="dataSource"></search-select>
  </div>

  <div style="height: 600px"></div>
</form>
