<h2>Observable autocomplete, long slow list</h2>
<p>(Also illustrated required field.)</p>

<form class="example-form">
  <div>Value: {{ ours.value | json }}
    Touched: {{ ours.touched | json }}
    Errors: {{ ours.errors | json }}</div>
  <div>
    <input #manual type="text" placeholder="Change Our Value" (change)="ours.setValue(manual.value)">
  </div>
  <div style="padding: 12px; border: 1px solid">
    <obs-autocomplete
    placeholder="Company"
    [formControl]="ours"
    [displayValueFn]="valueToDisplay"
    [searchFn]="searchFn"></obs-autocomplete>
  </div>

  <p>Example required field:</p>
  <mat-form-field>
    <input type="text" matInput placeholder="Required field here" [formControl]="reqExample">
  </mat-form-field>

  <p>search stream source swapping</p>
  <button (click)="swapSources()">Swap short and long</button>
</form>
