<h2>Observable autocomplete, simple fast list</h2>

<form class="example-form">
  <div>Value: {{ ours.value | json }}
      Touched: {{ ours.touched | json }}
      Errors: {{ ours.errors | json }}</div>
  <div>
    <input #manual type="text" placeholder="Change Our Value" (change)="ours.setValue(manual.value)">
  </div>

  <div>
    <label>
      <input [formControl]="disableMe" type="checkbox"> Disable it
    </label>
  </div>

  <div style="padding: 12px; border: 1px solid">
    <obs-autocomplete
    placeholder="Person"
    [formControl]="ours"
    [displayValueFn]="valueToDisplay"
    [searchFn]="searchFn"></obs-autocomplete>
  </div>
</form>
