<h1>Angular Material Search Select</h1>

<p>This library provides a "Search Select" component for use with Angular
Material. Behind the scenes, the mat-autocomplete component is used, but the
resulting experience is not an auto complete; that is, it does not assist the
user and optionally skipping some typing.</p>

<p>Rather, this component is for select controls where the user will search from
a (potentially long) list to make a selection. Moreover, this list may be far
longer than can fit in the user interface/browser, and might arrive
asynchronously from server-side searches.</p>

<p>For a fuller explanation, please see the project README, and its source code.</p>

<a href="https://github.com/OasisDigital/angular-material-search-select/blob/master/README.md">
  https://github.com/OasisDigital/angular-material-search-select/blob/master/README.md</a>

<br><br>

<h3>Who?</h3>

<a href="https://kylecordes.com/">Kyle Cordes</a>, at
<a href="https://oasisdigital.com/">Oasis Digital</a> /
<a href="https://angularbootcamp.com/">Angular Boot Camp</a>.
