<h1>Angular Material Observable Auto complete</h1>

<p>This library provides a means to use the Angular Material mat-autocomplete component, in cases where the options to be populated
  must arrive asynchronously (for example, because they come from a server). The resulting behavior is more like a server-side
  "search select", in that it is intended to allow entry of only developer approved values.</p>

<p>For a fuller explanation, please see the project README, and its source code.</p>

<a href="https://github.com/OasisDigital/angular-material-obs-autocomplete/blob/master/README.md">
  https://github.com/OasisDigital/angular-material-obs-autocomplete/blob/master/README.md</a>

<br><br>

<h3>Who?</h3>

<a href="https://kylecordes.com/">Kyle Cordes</a>, at
<a href="https://oasisdigital.com/">Oasis Digital</a> /
<a href="https://angularbootcamp.com/">Angular Boot Camp</a>.
