<mat-form-field class="obs-mat-container" [style.width]="width">
  <mat-spinner class="obs-mat-spinner"
    *ngIf="loading | async"
    [diameter]="20"
    [strokeWidth]="5"></mat-spinner>
  <i class="obs-no-matches" *ngIf="emptyText && empty | async">{{emptyText}}</i>
  <input
      type="text"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      spellcheck="false"
      matInput
      [formControl]="searchControl"
      #input
      (blur)="blur()"
      (focus)="input.select(); focus()"
      [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" class="bigger-mat-ac">
    <mat-option *ngFor="let option of list | async"
      [value]="option">
      {{ option.display }}
    </mat-option>
  </mat-autocomplete>
  <b>{{ errorMessage | async }}</b>
</mat-form-field>
