<mat-form-field class="obs-mat-container" [style.width]="width">
  <mat-spinner class="obs-mat-spinner" *ngIf="(options | async) == undefined" [diameter]="20" [strokeWidth]="5"></mat-spinner>
  <input
      type="text"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      spellcheck="false"
      matInput
      [formControl]="searchControl"
      #input
      (blur)="blur()"
      (focus)="input.select(); focus()"
      [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" class="bigger-mat-ac">
    <mat-option *ngFor="let option of (options | async)?.list"
      [value]="option"
      [matTooltip]="option.tip">
      {{ option.display }}
    </mat-option>
  </mat-autocomplete>
  <b>{{ (options | async)?.errorMessage }}</b>
</mat-form-field>
