<div class="nav">

  <ul>
    <li routerLinkActive="green-background">
      <a [routerLink]="['/sample']">Plain AM example</a>
    </li>
    -
    <li routerLinkActive="green-background">
      <a [routerLink]="['/simple']">Simple</a>
    </li>
    -
    <li routerLinkActive="green-background">
      <a [routerLink]="['/long']">Long Slow</a>
    </li>
    -
    <li routerLinkActive="green-background">
      <a [routerLink]="['/real']">Real API</a>
    </li>
    -
    <li routerLinkActive="green-background">
      <a [routerLink]="['/cascade']">Cascading</a>
    </li>
    -
    <li routerLinkActive="green-background">
      <a [routerLink]="['/multi']">Multi column</a>
    </li>
  </ul>
</div>

<hr>

<router-outlet></router-outlet>
