<mat-toolbar color="primary">
  <a mat-button routerLinkActive="active-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Explanation</a>
  <a mat-button routerLinkActive="active-link" routerLink="/sample">Default Autocomplete</a>
  <a mat-button routerLinkActive="active-link" routerLink="/simple">Simple</a>
  <a mat-button routerLinkActive="active-link" routerLink="/long">Long Slow</a>
  <a mat-button routerLinkActive="active-link" routerLink="/real">Real API</a>
  <a mat-button routerLinkActive="active-link" routerLink="/cascade">Cascading</a>
  <a mat-button routerLinkActive="active-link" routerLink="/multi">Multi column</a>
</mat-toolbar>

<div class="container mat-typography">
  <router-outlet></router-outlet>
</div>

<style>
  .active-link {
    color: #ff4081 !important;
  }
  .container {
    margin: 50px 100px;
  }
</style>
