<h2>Observable autocomplete, Real (OData) API</h2>

<p><b>Currently the screen does not work on the demo deployment posted online,
because the example OData end point I am using does not support CORS. If you run
the project locally, this screen works.</b></p>

<form class="example-form">
  <div>Value: {{{ value: ours.value } | json }}
    Touched: {{ ours.touched | json }}
    Errors: {{ ours.errors | json }}</div>
  <div>
    <input #manual type="text" placeholder="Change Our Value" (change)="ours.setValue(manual.value)">
  </div>
  <div style="padding: 12px; border: 1px solid">
    <obs-autocomplete
    placeholder="Company"
    width="95%"
    [formControl]="ours"
    [displayValueFn]="valueToDisplay1"
    [searchFn]="searchFn1"></obs-autocomplete>
  </div>
</form>
