<h2>Observable autocomplete, Real (OData) API</h2>

<p>This demo screen calls a JSON-server API we have hosted on the Internet with
proper CORS support. It illustrates how to use the observable auto complete with
a server-side API.</p>

<form>
  <div>Value: {{{ value: ours.value } | json }}
    Touched: {{ ours.touched | json }}
    Errors: {{ ours.errors | json }}</div>

  <div>
    <input #manual type="text" placeholder="Change Our Value">
    <button (click)="ours.setValue(manual.value)">Set</button>
  </div>

  <div class="set-apart">
    <obs-autocomplete
      placeholder="Company"
      width="95%"
      [formControl]="ours"
      [displayValueFn]="valueToDisplay1"
      [searchFn]="searchFn1"></obs-autocomplete>
  </div>
</form>
