<h2>Angular Material default autocomplete, for comparison</h2>

<p>This page does <b>not</b> show the component being developed here. Rather it
shows the built-in default Angular Material mat-autocomplete component, for easy
visual and behavior comparison. This example also shows a required field, for
the purpose of easy visual comparison with the observable auto complete in
required mode.</p>

<form>
  <h3>Non-required field</h3>
  <p>Value: {{builtIn.value}} </p>

  <mat-form-field class="example-full-width">
    <input type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="builtIn"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith1">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.display }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h3>Required field</h3>
  <p>(There is no auto complete here, it is just a visual example for comparison with other screens.)</p>
  <mat-form-field>
    <input type="text" matInput placeholder="Required field here" [formControl]="reqExample">
  </mat-form-field>

  <div style="height: 600px"></div>
</form>
