<h2>Angular Material default autocomplete, for comparison</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="builtIn"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith1">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.display }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  {{builtIn.value}}
  <hr>
</form>
